/* Application wide styles */

#mapPane {
    -fx-background-color: white;
    -fx-border-color: black;
    /*-fx-border-insets: 5;*/
    -fx-border-width: 1;
    -fx-border-style: solid;
}

